:host {

    .pre-poetry {
        text-align: left;
        padding-left: 50px;
        font-family: Helvetica, Arial, sans-serif;
        letter-spacing: -1px;
        color: #024;
        font-weight: 200;
        cursor: pointer;

        &:hover {
            color: #fff;
            background-color: #024;
        }

        &::first-letter {
            text-transform: capitalize;  
        }
    }

    // OOPO
    .line {
        cursor: pointer;
        padding-left: 30px;
        padding: 5px;
        border-bottom: transparent 1px dotted;
        line-height: 0px;
        display: flex;
        flex-direction: row;
        &:hover {
            background-color: #25a;
        }
    }
    
    .word {
        cursor: pointer;
        padding: 2px;
        font-size: 50px;
        line-height: 60px;
        border-bottom: transparent 1px dashed;        
        &:hover {
            background-color: #fc0;
            color: #44e;
        }
    }
}
