<div>
    <div>
        <input type="checkbox" [formControl]="latynizeControl" id="cb-latynize" />
        <label for="cb-latynize">Latynize</label>
    </div>
    <div>
        <label>Slovnyk: {{ dictionary.name }}, {{ dictionary.words.length }} </label>
        <select [formControl]="dictionaryControl">
            <option *ngFor="let dictionary of getDictionaries()" [ngValue]="dictionary">
                {{dictionary.name}}, {{dictionary.words.length}}
            </option>
        </select>
        <button mat-button (click)="reSlovo()">re:slovo</button>
    </div>
    <div>
        <label>Ryma: {{ rhyme.name }}: {{ rhyme.value }}</label>
        <select [formControl]="rhymeControl">
            <option *ngFor="let rhyme of getRhymes()" [ngValue]="rhyme">
                {{rhyme.name}}
            </option>
        </select>
        <button mat-button mat-raised-button (click)="reStyle()">re:ryma</button>
        <button mat-button color="warn" (click)="copyText()">Copy</button>
    </div>
</div>

<pre class="pre-poetry" (click)="generate()">
    <div class="strophae" *ngFor="let strophae of oOPoetry.strophae">
        <div class="line" *ngFor="let line of strophae.lines" (click)="reline(strophae.lines, line, $event)">
            <div class="word" (click)="reword(line.words, word, $event)" *ngFor="let word of line.words">{{postProcess(word)}}&nbsp;</div>
        </div>
    </div>
</pre>